.about-us{
    margin-top: 1px;
    background: #62615D;
    width: 100%;
    height: auto;
}

.about-us header{
    margin-left: 100px;
    display: inline-flex;
}
.about-us img{
    margin-top: 70px;
    margin-left: 200px;
    width: 151px;
    height: 149px;
    border-radius: 100px;
}
#about-header-text{
    margin-top: 40px;
    margin-left: 200px;
    font-family: Asap, Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    text-decoration: underline;
    color: white;
}
.about-text{
    width: 700px;
    height: 280px;
    margin-left: 500px;
    margin-top: -100px;
    font-family: Asap, Roboto;
    font-style: normal;
    font-size: 16px;
    color: white;
}
.other-things-we-do{
    background-color: white;
    margin-left: 350px;
    margin-top: 20px;
}

.other-things-we-do div{
    font-family: Asap;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    color: #62615D;
}
.card-grid{
    display: grid;
    grid-template-columns: 30% 30%;
}
.card{
    width: 270px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 3px 4px 15px 1px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    border-radius: 20px;

}
.left{
    margin-left: 90px;
}
.card img{
    border-radius: 20px 20px 0px 0px;
}

.card-text-header-events{
    font-family: Asap;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    margin-left: 30px;
    color: #62615D;
}
.card-text-header-vire{
    font-family: Asap;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #62615D;
}

.card-text{
    margin-top: 5px;
    padding: 3px;
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

.mail-us{
    background: rgba(243, 154, 189, 0.9);
    margin-top: 20px;
}

.mail-us div{
    margin-left: 350px;
}
.mail-us p{
    padding: 5px;
    font-family: Asap;
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    color:black;
}

.mail-us input[type=email]{
    font-family: Asap;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

input,textarea:focus{
    outline: none;
}

.mail-us textarea{
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}


button{
    font-family: Asap;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0px 10px 580px;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    background-color:  #62615D;
}
