*{
    margin: 0;
    padding: 0;
}

.page{
    height: 100%;
}
.nav-bar{
    margin-left: 17.5rem;
    margin-top: -1.25rem;
}

.nav-bar img{
    margin-top: -5.188rem;
    height: 7.5rem;
    border-radius: 50%;
}

.nav-bar ul{
    display: inline-flex;
    margin: 6.25rem;
}


.nav-bar ul li{
    list-style-type: none;
    margin: 0.625rem 0.625rem;
}



.nav-bar ul li a{
    text-decoration: none;
    color: #F39ABD;
    font: Roboto,monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    cursor: pointer;
}

.active, .nav-bar ul li a:hover{
    color: #605C59;
}
.pink-line-header{
    width: 100%;
    margin-top: -7.813rem;
    height: 1px;
    background-color:  #F39ABD;
    border: none;
}

.pink-line-footer{
    width: 100%;
    margin-top: 0px;
    height: 1px;
    background-color:  #F39ABD;
    border: none;
}

.header{
    background-image: url('/images/Soft\ &\ Moist\ Funfetti\ Cake\ _\ Butternut\ Bakery.jpg');
    margin-top: 1px;
    width: 84.21rem;
    height: 18.75rem;
}
.sugary-delight{
    background-color: #F39ABD; opacity: 0.8;
    margin-left: 17.5%;
    height: 100%;
    width: 23rem;
}
.sugary-delight-texts{
    padding: 0.938rem;
    font-size: 5.625rem;
    font-family: "Josefine Slab",monospace;
    text-align: center;
}

.specials{
    background-image: url("/images/Christmas\ Cookie\ Collection.jpg");
    margin-top: 1px;
    width: 84.21rem;
    height: 21.875rem;
}

.dark-screen{
    width: 84.21rem;
    height: 100%;
    background-color: #000; opacity: 0.5;
}

.specials div{
    position: absolute;
    left: 24.063rem;
    top: 34.563rem;

    font-family: "Josefin Slab", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;

    color: #FFFFFF;
}

.special-pink-line{
    margin: 0.625rem 0px;
    height: 0.188rem;
    background: #FFFFFF;
    border: none;
}
/* 
#specials-decoration-1 {
    position: absolute;
    width: 194.39px;
    height: 142.32px;
    left: 438.55px;
    top: 648.17px;

    
    transform: rotate(-137.6deg);
} */
.row-of-specials{
    width: 84.21rem;
    margin-top: -1.125rem;
    background-color: black;
}

.row-of-specials section{
    margin-left: 1.25rem;
}

.row-of-specials img{
    padding: 0.313rem 0.063rem;
    height: 12.5rem; 
}

.donutty-delight{
    width: 84.21rem;
    background-image: url("/images/Chocolate\ glazed\ donut.jpg");
    height: 25rem;
    margin-top: -0.188rem;
}

.donutty-delight h2{
    transform: rotate(-25.47deg);
    color: #F39ABD;
    position: absolute;
    left: 1.25rem;
    top: 63.513rem;
    font-family: "Sacramento";
    font-weight: 400;
    font-style: italic;
    font-size: 6.25rem;
    margin-left: 6.25rem;
}

footer{
    background-color: #62615D;
    width: 84.21rem;
    height: 12.475rem;
}

.page-detils{
    float: left;
    width:31.25rem;
    margin-left: 13.375rem;
    margin-top: 2rem;
}

.contact-details{
    float: right;
    width: 18.75rem;
    position: absolute;
    left: 40.5rem;
    margin-bottom: 0.938rem;
    margin-left: 7.5rem;
    margin-top: 2rem;
}

.things-we-do-header a{
    margin-top: 1.25rem;
    margin-left: 4.375rem;
    color: #F39ABD;
    font: Roboto,monospace;
    font-size: 1rem;
    cursor: pointer;
}

.things-we-do-header a:hover{
    color:pink;
}

.things-we-can-do{
    width: 25rem;
    height: 6.25rem;
    color: white;
    margin-left: 0.25rem;
    
}

.things-we-can-do div{
    margin-top: 0.75rem;
}

.things-we-can-do span{
    margin-left: 3.75rem;
   
    list-style-type: none;
}

#event-catering{
    margin-left: 3.125rem;
}

.about-us-header{
    margin-top: -8.563rem;
    margin-left: 25rem;
    color: #F39ABD;
    font: Roboto,monospace;
    font-size: 0.938rem;

}

.contact-us-header{
    margin-top: 1.25rem;
    color: #F39ABD;
    font: Roboto,monospace;
    font-size: 0.875rem;

}

.contact-us-header div{
    margin-top: 0.625rem;
    margin-left: -0.063rem;
}

.fa{
    color: white;
   
}

.fa div{
    margin-top: 0.063rem;
    padding-left: 0.313rem;
    display: inline-flex;
}

.follow-us-header{
    margin-top: -5.188rem;
    margin-left: 11.875rem;
    color: #F39ABD;
    font: Roboto,monospace;
    font-size: 0.938rem;

}

.follow-us-header div{
    width: 6.25rem;
    display: inline-flex;
}
#social-icons{
    margin-top: 0.625rem;
    margin-right: 0.313rem;
    padding: 0.75rem;
    font-size: 1.063rem;
    width: 1.25rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #F39ABD;
}

.about-us{
    margin-top: 0.75rem;
    width: 11.25rem;
    height: 6.25rem;
}
.about-us div{
    margin-left: 0px;
    margin-top: 0.75rem;
    
}

.about-us div a{
    color: white;
}